.light {
  --text-clr: hsl(200, 15%, 8%);
  --bg-clr: hsl(0, 0%, 98%);
  --text-input: hsl(0, 0%, 52%);
  --bg-elements: #fff;
}
.dark {
  --text-clr: #fff;
  --bg-clr: hsl(207, 26%, 17%);
  --text-input: #fff;
  --bg-elements: hsl(209, 23%, 22%);
}

body {
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

nav {
  background-color: var(--bg-elements);
}

.search-container {
  background-color: var(--bg-elements);
}
.search-container input {
  background-color: var(--bg-elements);
  color: var(--text-input);
}

.select-container {
  background-color: var(--bg-elements);
}
.select-container select {
  background-color: var(--bg-elements);
  color: var(--text-input);
}

a.card-element {
  background-color: var(--bg-elements);
}

.back-button a {
  background-color: var(--bg-elements);
}

a.border-country {
  background-color: var(--bg-elements);
}

svg path {
  fill: var(--text-input);
}

select option {
  color: var(--text-clr);
}
